<%- include(`../Layouts/navbar`) %>

<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Get in touch</h1>
                <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <!-- card for my number whatsapp -->
                    <div class="card rounded-4">
                        <div class="card-body p-4 p-lg-5">
                            <!-- whatsapp icon -->
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="fab fa-whatsapp"></i></div>
                            <!-- whatsapp number -->
                            <p class="lead fw-normal mb-0"> <a class="text-decoration-none" href="https://wa.me/+6281337184538"> +6281 337 184 538 </a></p>
                        </div>
                    </div>
                    <!-- card for my email -->
                    <div class="card rounded-4">
                        <div class="card-body p-4 p-lg-5">
                            <!-- email icon -->
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <!-- email -->
                            <p class="lead fw-normal mb-0">
                                <p class="lead fw-normal mb-0"><a class="text-decoration-none" href="mailto:langarirano@gmail.com"> langarirano@gmail.com </a></p>
                            </p>

                        </div>
                    </div>
                    <!-- card to twiter -->
                    <div class="card rounded-4">
                        <div class="card-body p-4 p-lg-5">
                            <!-- twiter icon -->
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-twitter"></i></div>
                            <!-- twiter -->
                            <p class="lead fw-normal mb-0">
                                <p class="lead fw-normal mb-0"><a class="text-decoration-none" href="https://twitter.com/RanoLangari"> @RanoLangari </a></p>
                            </p>

                        </div>
                    </div>
                    <!-- card to instagram -->
                    <div class="card rounded-4">
                        <div class="card-body p-4 p-lg-5">
                            <!-- instagram icon -->
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-instagram"></i></div>
                            <!-- instagram -->
                            <p class="lead fw-normal mb-0">
                                <p class="lead fw-normal mb-0"><a class="text-decoration-none" href="https://www.instagram.com/rnolngriii_/"> @rnolngriii_ </a></p>
                            </p>

                        </div>
                        
                    </div>
                            
                </div>
            </div>
        </div>
    </div>
</section>

<%- include(`../Layouts/footer`) %>
