<%- include(`../Layouts/navbar`) %>

<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">MyExperience</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Programing</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2022 - Present</div>
                                    <div class="small fw-bolder">Web Developer</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>I’m currently learning Frameworks, Node JS, React, MongoDB, ETC.</div></div>
                        </div>
                    </div>
                </div>
            </section>  
           <!-- Crypto Testing -->
           <section>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="text-primary fw-bolder mb-0">Crypto And BlockChain</h2>
                <!-- Download resume button-->
                <!-- Note: Set the link href target to a PDF file within your project-->
                
            </div>
            <!-- Node Validator -->
            <!-- Experience Card 1-->
            <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <h3 class="text-primary fw-bolder mb-0 text-center"> Node Validator</h3>
                    <p class="text-center">Below are some of the nodes I have validated on Crypto</p>
                    <div class="row align-items-center gx-5 mb-4">
                        <div class="col mt-2">
                            <div class="bg-light p-4 rounded-4">
                                <picture><source type="image/webp" srcset="https://cryptocurrencyjobs.co/startups/assets/logos/iron-fish.d099caac00e2e2da41876fcfacabe5bfb144c17314e8c161eb747c986f21db59.jpg"><img width="150px" height="150px">
                                </picture>
                                <div class="small fw-bolder mt-4">IronFish</div>
                            </div>
                        </div>
                        <div class="col mt-2">
                            <div class="bg-light p-4 rounded-4">
                                <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1603278945222524928/XlW3ptGz_400x400.jpg"><img width="150px" height="150px">
                                </picture>
                                <div class="small fw-bolder mt-4">Wormholes Chain</div>
                            </div>
                        </div>
                        <div class="col mt-2">
                            <div class="bg-light p-4 rounded-4">
                                <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1610685170763591685/ODRWYqwY_400x400.jpg"><img width="150px" height="150px">
                                </picture>
                                <div class="small fw-bolder mt-4">Elixir Protocol</div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center gx-5 mb-4">
                        <div class="col mt-2">
                            <div class="bg-light p-4 rounded-4">
                                <picture><source type="image/webp" srcset="https://moi.technology/src/img/moi-logo-color.svg"><img width="150px" height="150px">
                                </picture>
                                <div class="small fw-bolder mt-4">My Own Internet (MOI)</div>
                            </div>
                        </div>
                        <div class="col mt-2">
                            <div class="bg-light p-4 rounded-4">
                                <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1610231138018017281/VJTt2BJy_400x400.jpg"><img width="150px" height="150px">
                                </picture>
                                <div class="small fw-bolder mt-4">Muon Network</div>
                            </div>
                        </div>
                        <div class="col mt-2">
                            <div class="bg-light p-4 rounded-4">
                                <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1478012522871463938/PaF5wVhK_400x400.jpg"><img width="150px" height="150px">
                                </picture>
                                <div class="small fw-bolder mt-4">Meson Network</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <h3 class="text-primary fw-bolder mb-0 text-center"> Testnet Event</h3>
                        <p class="text-center">Below are some of the testnets that I participated on Crypto </p>
                        <div class="row align-items-center gx-5 mb-4">
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1513865442170974209/YKF-ZCez_400x400.png"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Rebus</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1609579320577785857/hhygMdg9_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Umee</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1427977812179365893/cuPsgWcH_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Bitsong</div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center gx-5 mb-4">
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1612460371951980544/3rLQs2Ee_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">KYVE</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1639294655882821632/14ejNw_k_400x400.png"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Secret Network</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1644082508810661888/Bf-5BL32_400x400.png"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Quasar Finance</div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center gx-5 mb-4">
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1610672073130807296/kwuIbdbx_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">SUI</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1631176538942242817/9I3imtXi_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Findora</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1609815930930094080/sDZad-cG_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Plexus</div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center gx-5 mb-4">
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1468728989476745220/RfMSi_-d_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Qoda</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1608593518099841025/yYjVIio2_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">InvArch Network</div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="bg-light p-4 rounded-4">
                                    <picture><source type="image/webp" srcset="https://pbs.twimg.com/profile_images/1611293991915380736/Y8WPkS2i_400x400.jpg"><img width="150px" height="150px">
                                    </picture>
                                    <div class="small fw-bolder mt-4">Razor Network</div>
                                </div>
                            </div>
                        </div>
                </div>
                    </div>
                </div>
            </section>

                
                
            </section> 
        </div>
    </div>
</div>
</main>
<%- include(`../Layouts/footer`) %>
