<footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Profile Website &copy;- Yosep Firano La Ngari</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
        var typed = new Typed(".multiText", {
            strings: ["RanoLangari", "Coder", "Tester", "Node Validator"],
            typeSpeed: 100,
            backSpeed: 80,
            backDelay: 1500,
            loop: true,
        });
        </script>
        <script
        src="https://kit.fontawesome.com/1b05bcc72f.js"
        crossorigin="anonymous"
        ></script>
    </body>
</html>